.taskBarContainer {
  max-width: 46rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -1.65625rem;
}

.taskBarContainer input {
  flex: 1;
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-200);
}

.taskBarContainer button {
  border: 0;
  background: var(--orange-500);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 1rem;
  border-radius: 8px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer; 
  transition: background-color 200ms;
}

.taskBarContainer button:hover {
  background: var(--orange-700);
}